---
import Layout from '../../layouts/Layout.astro';
import { Code } from 'astro:components';
const pageTitle = "E2EE messenger for iOS";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img class="main-img" width="500" height="259" alt="LevelBuilder" src="/level-builder.png"/>
    </div>
    <h1>E2EE messenger for iOS</h1>
    <small>Swift</small>
    <small>Networking</small>
    <small>Encryption</small>
    <p></p>
    <a href="#demo"><button type="button"><img width="20" height="20" src="/live.svg"/> Demo</button></a>
    <h2>Problem/Challenge</h2>
    <p>
        As part of my working on the mobile game Portal Ninja with Cloud Base Games Ltd. I was tasked to create a level builder,
        which would allow for simple and fast creation of levels that both level designers, as well as players could use. It 
        had to provide variety in terms of rooms, elements and assets being used, but also intuitive and simple level iteration.
    </p>
    <h2>Solution</h2>
    <p>
        I decided that the optimal solution for this would be to create a level builder, where levels could be made with a drawing
        style application, where each bloc/pixel would represent a 4x4 area in terms of the game level. The levels are built in 
        a few steps. First the level shape is determined with drawing in the black area, or by generating one at random or with a 
        seed. Then, the corridors are created (blue blocks), made wither by hand or generated. Next based on the corridors drawn 
        in the blueprint, rooms are generated with passages to ensure they are all accessible either through the corridors or 
        other rooms. Finally, the assets are chosen for the level with other options before the whole level is generated.
    </p>
    <p>
        The project is not publicly available as it is a work in progress, but some code snippets from the project 
        are available below:
    </p>
    <div class="code-box">
    <Code code={`
func 
    `} lang="swift" />
    </div>
    <h2 id="demo">Demo</h2>
    <p>
        A demo video of the project is available below. Please feel free to take a look!
    </p>
</Layout>
<style>
    html {
        scroll-behavior: smooth;
    }
    
    /* Main image */
    .main-img {
        background-color: white;
        border-radius: 8px;
    }

    @media (max-width: 600px) {
        .main-img {
            width: 300px;
            height: 155px;
        }
    }

    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        height: 40px;
        background-color: white;
        border: 2px solid red;
        border-radius: 8px;
        color: black;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: gray;
        color: red;
    }
</style>
