---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="/posts/e2ee_messenger"
            image="/E2EE_messenger.png"
            title="E2EE messenger for iOS"
            body="A messaging application for iOS that supports end to end encryption written in Swift"
            badges={["/video.svg", "/code.svg"]}
        />
        <Card
            href="/posts/webrtc"
            image="/webrtc_experiment.svg"
            title="WebRTC streaming stress testing"
            body="Stress testing of WebRTC streamer clients with increase in peers"
            badges={["/video.svg", "/live.svg", "/github-mark.svg"]}
        />
    </ul>
</Layout>
