---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bg">
    <div class="nav-bar">
        <div class="title-link">
            <a data-test="nav_name" href="/">Jan Ivkovič Miura</a>
        </div>
        <div class="nav-links">
            <a data-test="nav_posts" href="/posts">Blog</a>
            <a data-test="nav_works" href="/works">Work</a>
            <a data-test="nav_about" href="/">About</a>
            <!-- <a data-test="nav_cv" href="/cv">CV</a> -->
            <a href="https://github.com/JI-0" target="_blank">
                <img class="git-icon" width="24" height="24" alt="GitHub"/>
            </a>
            <ThemeIcon />
        </div>
    </div>
</div>
